$font-size-root: 16px;

$h1-fs: 32px;
$h1-lh: 40px;

$h2-fs: 24px;
$h2-lh: 32px;

$h3-fs: 18px;
$h3-lh: 24px;

$vs: 40px;
$hs: 20px;

$page-width: 960px;
$contet-width: 640px;

$color-black: #000;
$color-white: #fff;

$color-gray: #a2a2a2;
$color-yellow: #ffe51f;
$color-blue: #2fc3f0;
