.btn {
  position: relative;
	display:inline-block;
  
  padding: _get-rem(12px, 20px);
  
  color: #2FC3F0;
  
  line-height: _get-rem(28px);
  text-align:center;
	text-decoration:none;
  
  white-space: nowrap;
  
  &:before, 
  &:after {
    content: '';
    position: absolute;
    left: -1px;
  	height: _get-rem(26px);
    width: 100%;
    z-index: -1;
    border: _get-rem(3px) solid #2FC3F0;
    
    transition: all 0.3s;
  }
  
  &:before {
    border-bottom: none;
    top: 0;
    transform: perspective(15px) rotateX(5deg);
  }
  
  &:after{
    position: absolute;
    top: _get-rem(28px);
    border-top: none;
    transform: perspective(15px) rotateX(-5deg);
  }
  
  &:hover,
  &:focus,
  &.active {
    color: #fff;
    
    &:before,
    &:after {
      background-color: #2FC3F0;
    }
  }
}

.btn--buttonline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
  .btn {
    margin: 5px _get-rem(10px);
  }
}