.footer {
  background-color: #ffe51f;

  &__wrap {
    width: 100%;
    max-width: $page-width;
    margin: 0 auto;
    padding: _get-rem($vs/2, $hs/2);
  }

  &__link {
    margin: _get-rem(3px, 0);
  }

  &__link__separator {
    margin: _get-rem(0, 10px);
  }
}
