.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background-color: #ffe51f;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-image: url('../images/hero-bg.svg');
    background-position: center;
    background-size: 1920px 1080px;

    z-index: 0;
    opacity: 0.75;
  }


  &__content {
    padding: _get-rem(40px, 20px);
    text-align: center;
    z-index: 1;
  }
}

.logo {
  padding-bottom: _get-rem(10px);

  &__value svg {
    display: block;
    height: _get-rem(160px);
    margin: 0 auto;
  }
}
