+section(howToStart).how-to-start#how-to-start
  
  .terms
    .term-wrap
      .term
        .chrome
          span.btn-term.close
          span.btn-term.min
          span.btn-term.max
        .shell
          code npm install -g learnyounode
          code learnyounode
    .term-wrap
      .term
        .chrome
          span.btn-term.close
          span.btn-term.min
          span.btn-term.max
        .shell
          .workshopper
            code » HELLO WORLD
            code » BABY STEPS
            code » MY FIRST I/O!