+section(registration).registration#registration
  
  a.btn(href=registration.link,data-text="NodeSchool Bratislava")= registration.linkText
  
  if registration.sponsoredBy
    h3= registration.sponsoredByText
    
    ul.list.flex-list.flex-list--horizontal
      each sponsor in registration.sponsoredBy
        li 
          .sponsors__logo
            a.sponsors__logo__link(href=sponsor.href)
              img.sponsors__logo__img(src=sponsor.img) 
    
