+section(sponsors).sponsors#sponsors
  
  ul.list.flex-list.flex-list--horizontal
    each sponsor in sponsors.sponsors
      li 
        .sponsors__logo
          a.sponsors__logo__link(href=sponsor.href)
            img.sponsors__logo__img(src=sponsor.img) 
          .sponsors__logo__count  (#{sponsor.count})