extends layouts/_default

block content
  
  include ./modules/_header
  
  main 
    
    include ./modules/_registration
    
    +separator
    
    include ./modules/_place
    
    +separator
        
    include ./modules/_how-to-start
    
    +separator
        
    include ./modules/_more-information
    
    +separator
    
    include ./modules/_sponsors
    
  include ./modules/_footer
    
  
