article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:active,
a:focus,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
  font-family: Source Sans Pro, sans-serif;
}
body {
  position: relative;
  line-height: 1.25rem;
  color: #000;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h3 {
  color: #a2a2a2;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.section {
  text-align: center;
  padding: 2.5rem 1.25rem;
}
.section__content {
  max-width: 640px;
  margin: 0 auto;
}
.section__wrap {
  max-width: 960px;
  margin: 0 auto;
}
.section__headline {
  margin-top: 0;
}
.link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.0625rem solid transparent;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.link,
.link:visited {
  color: #000;
}
.link.active,
.link:focus,
.link:hover {
  border-color: #2fc3f0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-list.flex-list--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex-list li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #2fc3f0;
  line-height: 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.btn:after,
.btn:before {
  content: "";
  position: absolute;
  left: -1px;
  height: 1.625rem;
  width: 100%;
  z-index: -1;
  border: 0.1875rem solid #2fc3f0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:before {
  border-bottom: 0;
  top: 0;
  -webkit-transform: perspective(15px) rotateX(5deg);
  transform: perspective(15px) rotateX(5deg);
}
.btn:after {
  position: absolute;
  top: 1.75rem;
  border-top: 0;
  -webkit-transform: perspective(15px) rotateX(-5deg);
  transform: perspective(15px) rotateX(-5deg);
}
.btn.active,
.btn:focus,
.btn:hover {
  color: #fff;
}
.btn.active:after,
.btn.active:before,
.btn:focus:after,
.btn:focus:before,
.btn:hover:after,
.btn:hover:before {
  background-color: #2fc3f0;
}
.btn--buttonline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.btn--buttonline .btn {
  margin: 5px 0.625rem;
}
.place__map {
  width: 100%;
  height: 12.5rem;
}
.separator {
  position: relative;
}
.separator:after,
.separator:before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  height: 3px;
  width: calc(50% - 50px);
  background-color: #ffe51f;
}
.separator:before {
  left: 0;
}
.separator:after {
  right: 0;
}
.separator__hexagon {
  position: relative;
  width: 30px;
  height: 17.32px;
  background-color: #ffe51f;
  margin: 0 auto;
}
.separator__hexagon:after,
.separator__hexagon:before {
  content: "";
  position: absolute;
  width: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.separator__hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid #ffe51f;
}
.separator__hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid #ffe51f;
}
.separator__hexagon:hover {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.5, 1);
  transition: -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.5, 1);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.5, 1);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.5, 1),
    -webkit-transform 1s cubic-bezier(0.68, -0.55, 0.5, 1);
}
.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 2.5rem 0 / px 0 / px;
}
.term,
.term .chrome,
.term .chrome .btn-term {
  border: 0.125rem solid #303030;
}
.term-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding: 0 / px 1.25rem;
}
.term {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.625rem;
  text-align: left;
  min-width: 14.0625rem;
}
.term .chrome {
  height: 2.125rem;
  padding-left: 0.25rem;
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
}
.term .chrome:before {
  content: " ";
  height: 100%;
}
.term .btn-term,
.term .chrome:before {
  display: inline-block;
  vertical-align: middle;
}
.term .btn-term {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  margin: 0 / px 0.3125rem 0 / px 0 / px;
}
.term .shell {
  padding: 0.625rem;
  color: #777;
  min-height: 8.125rem;
  overflow: hidden;
}
.term code {
  display: block;
  margin: 0.75rem 0 / px;
  padding: 0.25rem 0.625rem;
  border-left: 0.5rem solid #f7da03;
  font-family: AndaleMono, courier, monospace;
}
.term .workshopper {
  background: #f8f0bd;
  padding: 0.125rem;
}
.term .workshopper code {
  border: 0 none;
}
.sponsors__logo,
.sponsors__logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.sponsors__logo__link {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 75px;
  margin: 10px;
}
.sponsors__logo__img {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-height: 75px;
  margin: 10px auto;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: #ffe51f;
}
.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/hero-bg.svg);
  background-position: 50%;
  background-size: 1920px 1080px;
  z-index: 0;
  opacity: 0.75;
}
.hero__content {
  padding: 2.5rem 1.25rem;
  text-align: center;
  z-index: 1;
}
.logo {
  padding-bottom: 0.625rem;
}
.logo--main {
  display: block;
  height: 10rem;
  margin: 0 auto;
}
.footer {
  background-color: #ffe51f;
}
.footer__wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1.25rem 0.625rem;
}
.footer__link {
  margin: 0.1875rem 0 / px;
}
.footer__link__separator {
  margin: 0 / px 0.625rem;
}
.u-no-mrg-top {
  margin-top: 0;
}

.address {
  color: #a2a2a2;
  font-style: normal;
}

.text--left {
  text-align: left;
}

a:not(.btn) {
  color: #2fc3f0;
}

a:not(.btn):visited {
  color: #29729b;
}
